.button {
  height: 2.25rem !important;
  width: 2.25rem !important;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button img {
  width: 1.25rem;
  height: 1.25rem;
}