* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;

  text-decoration: none;
}

button {
  width: fit-content;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input {
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

.container {
  width: min(100%, 85.5rem);

  margin: 0 auto;

  padding-inline: 1.0rem;

  @media (min-width: 1400px) {
    padding: 0;
  }
}