@import 'index';

.button {
  display: flex;
  align-items: center;

  gap: .375rem;

  background: $bg-color-100;

  color: $text-color-200;

  padding: .675rem .75rem;

  border-radius: .5rem;

  font-size: .875rem;

  transition: $transition;
}

.button:hover {
  background: $bg-color-200;
}