@import 'index';

.header {
  background: $bg-color-100;

  width: 100%;

  padding: 1.25rem 1.0rem;

  border-radius: 0 0 1.0rem 1.0rem;
}

.content {
  width: min(100%, 85.5rem);

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;

  gap: 6.5625rem;
}

.part {
  display: none;

  @media (min-width: 1200px) {
    display: flex;

    gap: 1.25rem;
  }
}

.row {
  display: flex;
  align-items: center;

  gap: .25rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;

  gap: .75rem;
}
